<!-- <app-home></app-home> -->
<div class="container">
    <div class="content">
        <p>Filter</p>
        <h6>Sports in Mumbai</h6>
    </div>
    <div class="content2">
        <button>Tamil</button>
        <button>Hindi</button>
        <button>English</button>

        <div class="cards">
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAyOCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00341771-xqejldyxjl-portrait.jpg" alt="">
                <p class="p1">Chatrapati Shivaji Maharaj  Marathon</p>
                <p class="p2">Bandra Fort Garden: Mumbai</p>
                <p class="p2">Running</p>
                <p class="p2">$990 onwards</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAxIFNlcA%3D%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00342539-jhexwejche-portrait.jpg" alt="">
                <p class="p1">Aamchi Mumbai Half  Marathon</p>
                <p class="p2">Bandra Fort Garden: Mumbai</p>
                <p class="p2">5k</p>
                <p class="p2">$790 onwards/p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U2F0LCAyMCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00401667-xuznkyyjxx-portrait.jpg" alt="">
                <p class="p1">International Virtual Marathon</p>
                <p class="p2">You Plave and Your Time...</p>
                <p class="p2">5k</p>
                <p class="p2">$499 onwards</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAxNCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00400167-mhwlungxuu-portrait.jpg" alt="">
                <p class="p1">Freedom Virtula Marathon -Get Trophy by Courier</p>
                <p class="p2">You Plave and Your Time...</p>
                <p class="p2">5k</p>
                <p class="p2">$490</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAyOCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00341771-xqejldyxjl-portrait.jpg" alt="">
                <p class="p1">Chatrapati Shivaji Maharaj  Marathon</p>
                <p class="p2">Bandra Fort Garden: Mumbai</p>
                <p class="p2">Running</p>
                <p class="p2">$990 onwards</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAxIFNlcA%3D%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00342539-jhexwejche-portrait.jpg" alt="">
                <p class="p1">Aamchi Mumbai Half  Marathon</p>
                <p class="p2">Bandra Fort Garden: Mumbai</p>
                <p class="p2">5k</p>
                <p class="p2">$790 onwards/p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U2F0LCAyMCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00401667-xuznkyyjxx-portrait.jpg" alt="">
                <p class="p1">International Virtual Marathon</p>
                <p class="p2">You Plave and Your Time...</p>
                <p class="p2">5k</p>
                <p class="p2">$499 onwards</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAxNCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00400167-mhwlungxuu-portrait.jpg" alt="">
                <p class="p1">Freedom Virtula Marathon -Get Trophy by Courier</p>
                <p class="p2">You Plave and Your Time...</p>
                <p class="p2">5k</p>
                <p class="p2">$490</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAyOCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00341771-xqejldyxjl-portrait.jpg" alt="">
                <p class="p1">Chatrapati Shivaji Maharaj  Marathon</p>
                <p class="p2">Bandra Fort Garden: Mumbai</p>
                <p class="p2">Running</p>
                <p class="p2">$990 onwards</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAxIFNlcA%3D%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00342539-jhexwejche-portrait.jpg" alt="">
                <p class="p1">Aamchi Mumbai Half  Marathon</p>
                <p class="p2">Bandra Fort Garden: Mumbai</p>
                <p class="p2">5k</p>
                <p class="p2">$790 onwards/p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U2F0LCAyMCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00401667-xuznkyyjxx-portrait.jpg" alt="">
                <p class="p1">International Virtual Marathon</p>
                <p class="p2">You Plave and Your Time...</p>
                <p class="p2">5k</p>
                <p class="p2">$499 onwards</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAxNCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00400167-mhwlungxuu-portrait.jpg" alt="">
                <p class="p1">Freedom Virtula Marathon -Get Trophy by Courier</p>
                <p class="p2">You Plave and Your Time...</p>
                <p class="p2">5k</p>
                <p class="p2">$490</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAyOCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00341771-xqejldyxjl-portrait.jpg" alt="">
                <p class="p1">Chatrapati Shivaji Maharaj  Marathon</p>
                <p class="p2">Bandra Fort Garden: Mumbai</p>
                <p class="p2">Running</p>
                <p class="p2">$990 onwards</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAxIFNlcA%3D%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00342539-jhexwejche-portrait.jpg" alt="">
                <p class="p1">Aamchi Mumbai Half  Marathon</p>
                <p class="p2">Bandra Fort Garden: Mumbai</p>
                <p class="p2">5k</p>
                <p class="p2">$790 onwards/p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U2F0LCAyMCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00401667-xuznkyyjxx-portrait.jpg" alt="">
                <p class="p1">International Virtual Marathon</p>
                <p class="p2">You Plave and Your Time...</p>
                <p class="p2">5k</p>
                <p class="p2">$499 onwards</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAxNCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00400167-mhwlungxuu-portrait.jpg" alt="">
                <p class="p1">Freedom Virtula Marathon -Get Trophy by Courier</p>
                <p class="p2">You Plave and Your Time...</p>
                <p class="p2">5k</p>
                <p class="p2">$490</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAyOCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00341771-xqejldyxjl-portrait.jpg" alt="">
                <p class="p1">Chatrapati Shivaji Maharaj  Marathon</p>
                <p class="p2">Bandra Fort Garden: Mumbai</p>
                <p class="p2">Running</p>
                <p class="p2">$990 onwards</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAxIFNlcA%3D%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00342539-jhexwejche-portrait.jpg" alt="">
                <p class="p1">Aamchi Mumbai Half  Marathon</p>
                <p class="p2">Bandra Fort Garden: Mumbai</p>
                <p class="p2">5k</p>
                <p class="p2">$790 onwards/p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U2F0LCAyMCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00401667-xuznkyyjxx-portrait.jpg" alt="">
                <p class="p1">International Virtual Marathon</p>
                <p class="p2">You Plave and Your Time...</p>
                <p class="p2">5k</p>
                <p class="p2">$499 onwards</p>
            </div>
            <div class="card">
                <img src ="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAxNCBKdWw%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00400167-mhwlungxuu-portrait.jpg" alt="">
                <p class="p1">Freedom Virtula Marathon -Get Trophy by Courier</p>
                <p class="p2">You Plave and Your Time...</p>
                <p class="p2">5k</p>
                <p class="p2">$490</p>
            </div>
        </div>
    </div>
</div>